// Specific CSS for your home-page
.home-container {
  background-image: url("background_universe_HD.jpg");
  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 95vh;
  // width: 70vh;
  // margin: 0 10%;
}


.font-rubik {
  font-family: 'Rubik Dirt', cursive;
  color: #ffffff;
  font-size: 40px;
  text-decoration: none;

}

.home-button:hover {
  // background-color: black;
  font-size: 50px;
  color: rgb(172, 172, 172);
}

.row-margin {
  padding-top: 7vh;
}

#title {
  font-size: 60px;
}

#subtitle {
  font-size: 39px;
}
